{
    "settings": {
        "ip": "XXX.XXX.XXX.XXX",
        "port": "XXXX",
        "username": "XXXXXXXX",
        "password": "XXXXXXXX",
        "sleepTime": "XX",
        "optional": {
            "latitude": "XX.XX",
            "longitude": "XX.XX"
        }
    },
    "accessories": [
        {
            "type": "XXXXXXXX",
            "serviceName": "XXXXXXXX",
            "uniqueId": "XXXXXXXX",
            "characteristics": [
                "XXXXXXXX"
            ]
        }
    ],
    "automations": [
        {
            "uniqueId": "XXXXXXXX",
            "characteristic": "XXXXXXXX",
            "type": "timer",
            "data": {
                "period": "XXXX"
            }
        },
        {
            "uniqueId": "XXXXXXXX",
            "characteristic": "XXXXXXXX",
            "type": "timer",
            "data": {
                "period": "XXXX",
                "startTime": "XX:XX",
                "stopTime": "XX:XX"
            }
        },
        {
            "uniqueId": "XXXXXXXX",
            "characteristic": "XXXXXXXX",
            "type": "scheduler",
            "data": {
                "startTime": "XX:XX",
                "stopTime": "XX:XX"
            }
        },
        {
            "uniqueId": "XXXXXXXX",
            "characteristic": "XXXXXXXX",
            "type": "scheduler",
            "data": {
                "startTime": "sunset",
                "stopTime": "sunrise"
            }
        }
    ]
}